html {
  font-size: 14px;
}
 body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
 }

.navbar {
  font-size: 1.1rem;
  font-weight: bold;
}
 .navbar-default .navbar-nav > .active > a {
   background-color: inherit;
   color: #399bd1;
 }

 .navbar-default .navbar-nav > .active > a:hover {
   background-color: inherit;
   color: #399bd1;
 }
